<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>covermake</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
	<h1 id="logo-large">Covermake</h1>

	<div id="wrap">
		<div class="container">
			<div class="row detail-row">
				<div class="two columns">&nbsp;</div>
				<div class="eight columns">
					<img class="u-max-full-width" src="../images/stock/10.jpg" alt="">
				</div>
				<div class="two columns">&nbsp;</div>
			</div>
		</div>
		<footer>
		<div id="footer-content">
			<p>&copy; 2016 Tersin LLC</p>
			<p>	
				<a href="#">Privacy</a> -
				<a href="#">Terms of Use</a> -
				<a href="#">Contact</a>
			</p>
		</div>
	</footer>
	</div>

</body>
</html>
